.container {
  margin: 0 120px;
  text-align: center;

  .searchInput {
    margin-top: 10px;
    border-radius: 50px;
    border: none;
    padding: 10px;
    width: 97%;
  }
  .movies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: black;
    //padding: 0 120px;

    .movie {
      background: #e4e4e4;
      display: flex;
      flex-direction: row;
      //align-items: center;
      justify-content: space-between;
      margin: 0.5rem;
      padding: 0;
      border: 1px solid #e2e2e2;
      border-radius: 5px;
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);

      .image {
        border: 1px solid #e2e2e2;
        width: max-content;
        height: max-content;
        border-radius: 6px 0 0 6px;
      }
      .description {
        margin: 0px;
        padding: 10px;
        .title {
          font-size: 18px;
          border-bottom: 1px solid #757575;
          padding-bottom: 5px;
        }
        .parrafo {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4; /* Number of lines displayed before it truncate */
          overflow: hidden;
          padding-top: 5px;
        }

        a.infoBtn {
          border-top: 1px solid #757575;
          text-decoration: none;
          padding-top: 8px;
          margin-top: 40%;
          text-align: center;
          display: block;
          color: #1b1b1b;
          transition: 0.5s;
        }
        a.infoBtn:hover {
          color: #ffffff;
          background: rgb(33, 141, 33);
          padding: 5px;
          border-radius: 0 0 5px 5px;
        }
      }
    }
  }
}
